* {
    box-sizing: border-box;
    font-family: Kohinoor Devanagari;
}


/* nav bar styling */

.navbar {
    width: 100%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}

.title {
    color: rgb(0, 0, 0);
    font-size: 28.5px;
}

span {
    color: lightslategrey;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
    font-size: 17px;
}

nav ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: bold;
    font-family: Kohinoor Devanagari;
}

nav ul li a:hover {
    color: lightslategrey;
    transition: .4s;
}

/* About Us Page Styling */

.aboutus {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: bold;
    font-family: Kohinoor Devanagari;
    display: flex; 
}

/* search bar Styling */

.search-bar{
    background: black;
    border-radius: 60px;
    padding: 2px;
    position: right;
    backdrop-filter: blur(4px) saturate(180%);
}


.search-bar input{
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 10px 20px;
    font-size: 17px;
    color: white;
    position: relative;
    font-family: Kohinoor Devanagari;

}

::placeholder{
    color: white;
    font-family: Kohinoor Devanagari;

}

.search-bar button img{
    width: 20px;
}

.search-bar button{
    border:0;
    border-radius: 500%;
    width: 46px;
    height: 47px;
    background:white;
    cursor: pointer;
}


  /* Images styling flex  */

.image-parent-container{
    columns: 3;
    gap: 20px;
  }

  .image-conatiner{
    width: 100%;
    border-radius: 20px;
    margin-bottom: 20px;
  }


/* search category styling */

  .category{
    font-family: Kohinoor Devanagari;
    color: #000000;
    align-items: center;
}


#select-category{
    padding: 10px 50px;
    margin: 0 20px;
    border: none;
    margin: 0 20px;
    border: 1px solid #000000 !important;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    font-family: Kohinoor Devanagari;
    -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
  text-align: center;

}


.search {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 10px;
  }
  

#selectedCategory {
    text-decoration: none;
    width: 100px;
    padding: 10px 15px;
    background: #000000;
    border: none;
    color: white;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 24px;
    font-family: Kohinoor Devanagari;
;

}
