<!DOCTYPE html>
<html>
  <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/about.css" >
    <link rel="stylesheet" href="css/styles.css">
    <script src="../js/jquery.js"></script>
    <link rel="stylesheet" href="../css/layout.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

  </head>


      <body style="background-color: #ffffff">
        <div class = "navbar">
          <nav>
          <a href="/" class="title">Captured Content</a>
          <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/about">About</a></li>
              <li><a href="/category">Categories</a></li>
              <li><a href="/blog">Blogs</a></li>
          </ul>              

         <div class="container">
          <form action="/" class="search-bar" id="search">
          <input id="searchResult" type="text" placeholder="search for anything   .." name="a">
          <button type="submit"><img src="../images/search.png"></button> 

      </nav>
</div>
</div>

  </body>

          <!-- description of website and concept -->


<div class="box">

    <p>
      this space was introduced to provide content that is captured … <br>
      a place where innovation and creativity is discovered … <br>
      explore every area and every concept …
     <br>
      through each and every feed … <br>
      your work matters …
      ...that is Captured Content…
  </p>  
  </div> 


  <h4>As a visualist and content creator I've explored a numerous amount of websites trying to figure out what makes each one unique.<br> After creating multiple versions of captured content, I came to the conclusion that less is more; that being said I decided to took a very simplistic approach...  That is Captured Content <br> By: Oscar Carrion </h4>
 
  <script src="../js/app.js"> </script>
 


</html>