<!DOCTYPE html>
<html>
  <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Captured Content</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
       <script src="../js/jquery.js"></script>
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/layout.css">
    <link rel="stylesheet" href="../css/blog.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>



      <body style="background-color: #ffffff">
        <div class = "navbar">
            <nav>
                <a href="/" class="title">Captured Content</a>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/category">Categories</a></li>
                    <li><a href="/blog">Blogs</a></li>
                </ul>              
    
               <div class="container">
                <form action="/" class="search-bar" id="search">
                <input id="searchResult" type="text" placeholder="search for anything   .." name="o">
                <button type="submit"><img src="../images/search.png"></button> 
    
            </nav>
    </div>
  </div>
</head>

    </body>



<div class="box">
    <p>
        Welcome to Captured Blogs! <br>
    </p>
    <script src="../js/app.js"></script>
</div>

<h5 style="padding: 0 20px">The most recent featured blogs are below!<br><br>Hover over and click to be redirected to the blog</h5>



        <!-- Flex Blog Container -->

    <div class="wrapper">
        <div class="align" onclick="">
            <div class="src bg-one">
                <a href="https://unsplash.com/blog/a-look-back-on-august/" class="text">A look back on August<br><h3>By: Natalie Brennan</h3></a>
            </div>
        </div>
    
        <div class="align right" onclick="">
            <div class="src bg-two">
                <a href="https://unsplash.com/blog/pride-on-unsplash/" class="text">Pride In Open Photograhy<br><h3>By: Alex Begin</h3></a>
            </div>
        </div>
    
        <div class="align" onclick="">
            <div class="src bg-three">
                <a href="https://cupofjo.com/2022/09/28/french-pound-cake-apples/" class="text">Pound Cake with Apples, French Style<br><h3>By: Jenny Rosenstrach</h3></a>
            </div>
        </div>
    
        <div class="align right" onclick="">
            <div class="src bg-four">
                <a href="https://cupofjo.com/2022/09/23/have-a-delicious-weekend-10/" class="text">Have A Delicious Weekend.<br><h3>By: Joanna Goddard</h3></a>
            </div>
        </div>
    
        <div class="align" onclick="">
            <div class="src bg-five">
                <a href="https://cupofjo.com/2022/09/14/easy-dinner-recipes-for-fall/" class="text">Easy Dinner Recipes for the Fall<br><h3>By: Jenny Rosenstrach</h3></a>
            </div>
        </div>
    
        <div class="align right" onclick="">
            <div class="src bg-six">
                <a href="https://unsplash.com/blog/unsplash-for-good/" class="text">Unsplash for Good<br><h3>By: The Unsplash Team</h3></a>
            </div>
        </div>
        <div class="align" onclick="">
            <div class="src bg-seven">
                <a href="https://blog.youtube/inside-youtube/speedrun-trends-2022/" class="text">Speeding to the Finish<br><h3>By: Madeline Buxton</h3></a>
            </div>
        </div>

        <div class="align right" onclick="">
            <div class="src bg-eight">
                <a href="https://blog.youtube/news-and-events/youtube-shopify-integration-merch-shopping/" class="text">Ready, Set, Shop on Youtube<br><h3>By: David Katz</h3></a>
            </div>
        </div>
    </div>