<!DOCTYPE html>
<html>
  <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/layout.css"> 
    <link rel="stylesheet" href="../css/about.css">
    <script src="../js/jquery.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

  </head>

      <body id="categoryPage" style="background-color: #ffffff">
        <div class = "navbar">
            <nav>
              <a href="/" class="title">Captured Content</a>
              <ul>
                  <li><a href="/">Home</a></li>
                  <li><a href="/about">About</a></li>
                  <li><a href="/category">Categories</a></li>
                  <li><a href="/blog">Blogs</a></li>
              </ul>              
  
             <div class="container">
              <form action="/" class="search-bar" id="search">
              <input id="searchResult" type="text" placeholder="search for anything   .." name="a">
              <button type="submit"><img src="../images/search.png"></button> 
  
          </nav>
  </div>
    </div>

    <!-- Category Container  -->

<h2 class="category" style="text-align: center;">Pick a Category</h2>

<div class="cats">

        <select id="select-category" name="categories">
            <option value="">Select a Category ... </option>
            <option value="Wallpapers">Wallpapers</option>
            <option value="Photograhy">Photograhy</option>
            <option value="Streetwear">Streetwear</option>
            <option value="Streetart">Streetart</option>
            <option value="Nightlife">Nightlife</option>  
            <option value="Paradise">Paradise</option>
            <option value="Artwork">Artwork</option>
            <option value="Animals">Animals</option>
            <option value="Sports">Sports</option>
            <option value="Travel">Travel</option>
            <option value="Nature">Nature</option>    
            <option value="Movies">Movies</option>           
            <option value="Peace">Peace</option>
            <option value="Shoes">Shoes</option>
            <option value="Cars">Cars</option>
            <option value="Code">Code</option>      

        </select>


        <button id="submitForm">submit</button>
  </div>

  <div id="results"> 

        <!-- Image containers  -->

    <div class="image-container" id="image-container"></div>


    </body>


        <!-- calls unsplash API-->

    <script src="../js/category.js"></script>
    