 /*image container*/

.image-container{

    columns: 3;
    gap: 20px;
}

.image-container img{
    width: 100%;
    border-radius: 20px;
    margin-bottom: 20px;
}

@media screen and (max-width:768px) {
    
}